<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUMj30mjnMNAsCFGawN79sgOJxErOzOdU</string>
	<key>GCM_SENDER_ID</key>
	<string>926802816232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myCoding</string>
	<key>PROJECT_ID</key>
	<string>coding-setup-c63de</string>
	<key>STORAGE_BUCKET</key>
	<string>coding-setup-c63de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926802816232:ios:6b66a44ae733e158a0ed5d</string>
</dict>
</plist>